<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
</head>
<body>
    {% if form.errors %}
    <p>نام کاربری یا رمز عبور اشتباه است.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>شما دسترسی لازم برای مشاهده این صفحه را ندارید</p>
        {% else %}
            <p>لطفا با حساب کاربری خود وارد شوید</p>
        {% endif %}
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="ورود">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p><a href="{% url 'password_reset' %}">فراموشی رمز عبور</a></p>

</body>
</html>