{% load static %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'accounts/lib/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/settings.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <title>حساب کاربری</title>
</head>
<body>
	<!-- در این فرم می توان تمامی اطلاعات کاربر، یعنی نام و نام خانوادگی، شماره تلفن، ایمیل، تاریخ تولد و تصویر پروفایل 
	را عوض کرد. برای تغییر گذرواژه باید از صفحه دیگری که لینک ان در پایین صفحه قرار داده شده است استفاده می شود. -->
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div id="changeDataCard" class="col-md-7 col-lg-5">
					<div class="p-4 p-md-5">
						<div id="headerIcon" class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-user-o"></i>
						</div>
						<div id="headerTitle" class="icon d-flex align-items-center justify-content-center">
							<h2> ویرایش اطلاعات کاربری</h2>
						</div>
						<div id="contentStatusMessages">
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <p{% if message.tags %} class="bg-{{ message.tags }} py-2 bg-gradient px-1"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

						</div>
						<form id="contentForm" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="my-2"> 
                                <label>{{ form.first_name.label }}:</label>
								<input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" 
										class="form-control rounded-left" value="{{ form.first_name.value }}" max_length="{{ form.first_name.max_length }}" required>
								<div>
									{% if form.first_name.errors %}
										{% for error in form.first_name.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-2">
                                <label>{{ form.last_name.label }}:</label>
								<input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" 
										class="form-control rounded-left" value="{{ form.last_name.value }}" max_length="{{ form.last_name.max_length }}" required>
								<div>
									{% if form.last_name.errors %}
										{% for error in form.last_name.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="my-2">
                                <label>{{ form.phone.label }}:</label>
								<input type="text" id="{{ form.phone.id_for_label }}" name="{{ form.phone.name }}" 
										class="form-control rounded-left" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" max_length="{{ form.phone.max_length }}">
								<div>
									{% if form.phone.errors %}
										{% for error in form.phone.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="my-2">
                                <label>{{ form.email.label }}:</label>
								<input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" 
										class="form-control rounded-left" value="{{ form.email.value }}" max_length="{{ form.email.max_length }}" required>
								<div>
									{% if form.email.errors %}
										{% for error in form.email.errors %}
											<p class="my-0">{{ error }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="my-2">
                                <label>{{ form.birth_day.label }}:</label>
								<input type="date" id="{{ form.birth_day.id_for_label }}" name="{{ form.birth_day.name }}" 
										class="form-control rounded-left" value="{% if form.birth_day.value %}{{ form.birth_day.value }}{% endif %}">
								<div>
									{% if form.birth_day.errors %}
										{% for error in form.birth_day.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="my-2">
                                <label>{{ form.image.label }}:</label>
								<input type="file" id="{{ form.image.id_for_label }}" name="{{ form.image.name }}" 
										class="form-control rounded-left" accept="image/*" value="/media/{{ form.image.value }}">
								<div>
									{% if form.image.errors %}
										{% for error in form.image.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-3">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">ویرایش</button>
							</div>
							<input type="hidden" name="next" value="{{ next }}">
						</form>
						<div id="footerNonFieldErrors">
							{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}	
									<p class="my-0">{{ error|persian_int }}</p>
								{% endfor %}
							{% endif %}
						</div>
						<div id="footerLinks" class="d-flex justify-content-between">
							<p class="text-md-right">
								<a href="{% url 'password_change' %}">تغییر گذرواژه</a>
							</p>
							<p class="text-md-right">
								<a href="{% url 'index' %}">صفحه اصلی</a>
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="{% static 'accounts/lib/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'accounts/lib/js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script>
</body>
</html>
