{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}


{% block title %}{{ category }}{% endblock %}

{% block header %} {% endblock %}

{% block body %}
    <p>
        تمامی برچسب ها به ترتیب حروف الفبا در زیر امده اند.
        با کلیک بر روی هر برچسب می توانید تمام پسست های این برچسب را مشاهده نمایید.
    </p>
    <div class="d-inline">
        {% for tag in tags %}
            <a href="{% url 'showtag' tag %}">
                <div class="mt-1 mb-1 pt-1 pb-1" style="display:inline-block; width: calc(20% - 8px); 
                            text-align: center; background-color: #e9ecef; margin-left: 2px; margin-right: 2px;">
                    <label style="color: black;">
                        {{ tag }}
                    </label>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
