{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'blog/lib/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
</head>

<body class="container mt-4">

    <!-- search form and profile dropdown -->
    <div class="header d-flex flex-row navbar navbar-light">
        <h3 id="blog" class="col-2 align-self-start">
            <a href="{% url 'index' %}">بلاگ</a>
        </h3>
        <div id="searchFormParent" class="d-flex col-10">
            <form id="searchForm" action="{% url 'index' %}" class="d-none d-sm-flex ms-4 mt-2 col-sm-8 col-md-9 col-xl-10" method="GET">
                <div class="d-flex flex-column col-10 col-sm-12">
                    <div class="form-group">
                        <div class="input-group-sm">
                            <input type="text" name="{{ form.search.name }}" maxlength="{{ form.search.field.max_length }}" required id="{{ form.search.id }}" placeholder="جستجو" style="width:100%;" class="form-control input-sm">
                        </div>
                        <div>
                            {% if form.search.errors %}
                                {{ form.search.errors }}
                            {% endif %}
                        </div>
                    </div>
                    <div id="toggleAdvSearch" title="جستجوی پیشرفته">
                        <i class="show fas fa-angle-down me-1"></i>
                        <i class="hide fas fa-angle-up me-1 d-none"></i>
                    </div>
                    <div class="advSearch" style="z-index:1000;">
                        <div class="d-lg-flex">
                            <label class="col-lg-3">زمان ارسال پست</label>
                            <div class="d-sm-flex col-sm-12 col-lg-9 justify-content-between">
                                <div class="form-group col-sm-6 ps-sm-1">
                                    {{ form.post_time_sent_from.label_tag }}
                                    <div class="time input-group-sm">
                                        <input type="datetime-local" name="{{ form.post_time_sent_from.name }}" id="{{ form.post_time_sent_from.id_for_label }}" class="form-control input-sm">
                                    </div>
                                    <div>
                                        {% if form.post_time_sent_from.errors %}
                                            {{ form.post_time_sent_from.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 pe-sm-1">
                                    {{ form.post_time_sent_to.label_tag }}
                                    <div class="time input-group-sm">
                                        <input type="datetime-local" name="{{ form.post_time_sent_to.name }}" id="{{ form.post_time_sent_to.id_for_label }}" class="form-control input-sm">
                                    </div>
                                    <div>
                                        {% if form.post_time_sent_to.errors %}
                                            {{ form.post_time_sent_to.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-flex justify-content-between">
                            <label class="col-md-3">جستجو در</label>
                            <div class="d-sm-flex flex-wrap flex-lg-nowrap col-sm-12 col-md-9 justify-content-between">
                                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.title.label_tag }}
                                        <input type="checkbox" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.title.errors %}
                                            {{ form.title.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.tag.label_tag }}
                                        <input type="checkbox" name="{{ form.tag.name }}" id="{{ form.tag.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.tag.errors %}
                                            {{ form.tag.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-5 col-lg-2">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.text.label_tag }}
                                        <input type="checkbox" name="{{ form.text.name }}" id="{{ form.text.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.text.errors %}
                                            {{ form.text.errors }}
                                        {% endif %}
                                    </div>
                                </div> 
                                <div class="form-group col-sm-6 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.writer.label_tag }}
                                        <input type="checkbox" name="{{ form.writer.name }}" id="{{ form.writer.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.writer.errors %}
                                            {{ form.writer.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
                </div>
                <button id="submitFormBtn" type="submit" class="btn align-self-start shadow-none">
                    <i class="fas fa-search"></i>
                </button>
                <button id="closeSearch" type="button" class="btn align-self-start d-flex d-sm-none pt-2 shadow-none">
                    <i class="fas fa-times"></i>
                </button>
            </form>
            <span id="searchBtn" class="btn col-12 col-sm-4 col-md-3 col-xl-2 d-flex justify-content-end d-sm-block">
                <button id="openSearch" type="submit" class="btn shadow-none align-self-start d-sm-none">
                    <i class="fas fa-search"></i>
                </button>
                {% if not user.is_authenticated %}
                    <a class="btn btn-sm shadow-none border-1 border-primary" href="{% url 'login' %}">ورود</a>
                    <a class="btn btn-sm btn-primary shadow-none" href="{% url 'register' %}">ثبت نام</a>                
                {% else %}
                    <div class="dropdown px-2">
                        <a class="dropdown-toggle" role="button" dir="ltr" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
                            {% if user.image  %}
                                <img src="/media/{{ user.image }}" width=40 height=40 
                                style="border-radius: 20px;">
                            {% else %}
                                <img src="/media/user_imgs/DefaultUserImage.png" width=40 height=40
                                style="border-radius: 20px;">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="text-align:right;">
                            <li><a class="dropdown-item" href="{% url 'main_profile' user.username %}">پست ها</a></li>
                            <li><a class="dropdown-item" href="{% url 'newpost' user.username %}">ارسال پست</a></li>
                            <li><a class="dropdown-item" href="{% url 'settings' %}">حساب کاربری</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">خروج</a></li>
                        </ul>
                    </div>
                {% endif %}
            </span>
        </div> 
    </div>

    <!-- navbar -->
    <nav class="navbar navbar-expand bg-primary sticky-top p-1 mb-1" data-spy="scroll" style="z-index:100;">
        <div id="navbarContent">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link btn-sm" href="{% url 'index' %}">جدیدترین ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-sm" href="{% url 'popular' %}">محبوب ترین ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-sm" aria-current="page" href="{% url 'categorytree' %}">دسته بندی ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-sm" href="{% url 'alltags' %}">برچسب ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-sm" href="{% url 'aboutus' %}">درباره بلاگ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="{% static 'blog/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'blog/lib/js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'blog/base.js' %}"></script>
    {% comment %} <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static '3ddc925580.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>
