{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}


{% block title %}دسته بندی ها{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static 'blog/categorytree.css' %}"> 
{% endblock %}


{% block body %}

  <p>درختواره دسته بندی ها را در زیر می توانید مشاهده کنید.
   با کلیک بر روی هر دسته می توانید تمام پست های آن دسته بندی را مشاهده نمایید.</p>
  <ul id="myUL"  class="col-3">
    {% for category in categories %}
      {% if not category.supercategory %}
        {% block cg %}
          {% include "blog/categorybasetree.html" with passedCategory=category %}
        {% endblock %}
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}

{% block script %}
  <script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function () {
        this.parentElement
          .querySelector(".nested")
          .classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
  </script>
{% endblock %}