<li>
    {% if passedCategory.category_set.all %}
        <span class="caret">
            <a href="{% url 'showcategory' category %}"> {{ passedCategory.name }}</a>
        </span>
        <ul class="nested">
            {% for category in passedCategory.category_set.all %}
                {% include "blog/categorybasetree.html" with passedCategory=category %}
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% url 'showcategory' category %}"> {{ passedCategory.name }}</a>
    {% endif %}
</li>
