{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}


{% block title %}ویرایش پست{% endblock %}

{% block header %}

{% endblock %}
    {{ editform.media }}
{% block body %}

    <form id="editPostForm" method="POST" class='w-100 m-auto' enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in editform %}
            <div class="control-group {%if field.errors %}text-danger{%endif%}">
                {{ field|bootstrap }}
            </div>
        {% endfor %}
        <label for="tag">برچسب ها(برای حذف هر برچسب کافی است روی ان کلیک کنید) </label><br>
        <input id="tag" type="search"/>
        <div id="allTags" z-index="1000" class="mt-1" style="overflow-y: scroll; max-height:135px"></div>
        <div name="selectedTags" id="selectedTags" class="mt-1"></div>
        <input type="submit" value="ارسال" class="btn btn-primary mt-2"/>
    </form>
    <br>
{% endblock %}


{% block script %}
    <script src="{% static 'blog/tinymce.min.js' %}"></script>
    <script src="{% static 'blog/editpost.js' %}"></script>
{% endblock %}
