{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}
{% load blog_extras %}

{% block title %}بلاگ{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    {% if adv %}
        <div class="d-flex mt-2">
            <div class="ms-5 sidebarResult">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for key, value in posts.items %}
                        <a class="nav-link text-center" id="v-pills-{{ key }}-tab" data-toggle="pill" href="#v-pills-{{ key }}" role="tab" aria-controls="v-pills-{{ key }}" aria-selected="false">
                            {{ key|localTranslate }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-2 contentbarResult">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for key, value in posts.items %}
                        <div class="tab-pane fade" id="v-pills-{{ key }}" role="tabpanel" aria-labelledby="v-pills-{{ key }}-tab">
                            {% if not value %}
                                <p>نتیجه ای یافت نشد.</p>
                            {% else %}
                                {% for post in value %}
                                    {{ post }}
                                    زمان همواره در حال گذر است چه بخواهیم و چه نخواهیم خواهد گذشت بی آن‌که از ما سؤالی بپرسد یا از ما کسب تکلیف نماید ما را در سیر حوادث روزگار جلو می‌برد و ما نیز ابتدا با خوشحالی در جریان امواج آن جاری می‌شویم و تا به خود می‌آییم می‌بینیم ای وای چه قدر زود دیر شد و این بار تلاش می‌کنیم در خلاف جهت این امواج ویران کننده شنا کنیم اما افسوس که راهی برای بازگشت نمانده و تنها افسوس چاره دردهای ما است.
                                    زمان همواره در حال گذر است چه بخواهیم و چه نخواهیم خواهد گذشت بی آن‌که از ما سؤالی بپرسد یا از ما کسب تکلیف نماید ما را در سیر حوادث روزگار جلو می‌برد و ما نیز ابتدا با خوشحالی در جریان امواج آن جاری می‌شویم و تا به خود می‌آییم می‌بینیم ای وای چه قدر زود دیر شد و این بار تلاش می‌کنیم در خلاف جهت این امواج ویران کننده شنا کنیم اما افسوس که راهی برای بازگشت نمانده و تنها افسوس چاره دردهای ما است.
                                    زمان همواره در حال گذر است چه بخواهیم و چه نخواهیم خواهد گذشت بی آن‌که از ما سؤالی بپرسد یا از ما کسب تکلیف نماید ما را در سیر حوادث روزگار جلو می‌برد و ما نیز ابتدا با خوشحالی در جریان امواج آن جاری می‌شویم و تا به خود می‌آییم می‌بینیم ای وای چه قدر زود دیر شد و این بار تلاش می‌کنیم در خلاف جهت این امواج ویران کننده شنا کنیم اما افسوس که راهی برای بازگشت نمانده و تنها افسوس چاره دردهای ما است.
                                    زمان همواره در حال گذر است چه بخواهیم و چه نخواهیم خواهد گذشت بی آن‌که از ما سؤالی بپرسد یا از ما کسب تکلیف نماید ما را در سیر حوادث روزگار جلو می‌برد و ما نیز ابتدا با خوشحالی در جریان امواج آن جاری می‌شویم و تا به خود می‌آییم می‌بینیم ای وای چه قدر زود دیر شد و این بار تلاش می‌کنیم در خلاف جهت این امواج ویران کننده شنا کنیم اما افسوس که راهی برای بازگشت نمانده و تنها افسوس چاره دردهای ما است.
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% else %}
        <div class="d-flex">
            <div class="mt-3 px-2 col-8">
                {% for post in posts %}
                <div>
                    {% include "blog/posttag.html" with post=post %}
                </div>
                {% endfor %}
            </div>
            <div class="mt-3 px-2 col-4">
                
            </div>
        </div>
    {% endif %}
    
    
    
{% endblock %}
{% block script %}
<script>
$($('#v-pills-tabContent').children()[0]).addClass('show active')
$($('#v-pills-tab').children()[0]).addClass('active')

$('#v-pills-tab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$(document).ready(function() {
    $(document).on('scroll', function() {
        // method 1
        num = window.innerWidth>575 ? 103 : 92
        if( $(document).scrollTop() > num ){
            console.log(777)
            // method 1
            $('.sidebarResult').attr('style', `margin-top: ${ $(document).scrollTop()-num}px !important`);
            // method 2
            /*if(window.innerWidth>991){
                $('.sidebarResult').attr('style', 'top: 53px !important; float:right !important;');
                $('.sidebarResult').addClass('position-fixed'); 
                $('.contentbarResult').addClass('position-relative'); 
                $('.contentbarResult').addClass('col-10'); 
                $($('.contentbarResult').find('div')[0]).addClass('position-relative'); 
                $('.contentbarResult').attr('style', 'right : 150px !important;');
            }else{ 
                $('.sidebarResult').attr('style', 'top: 61px !important; float:right !important;');
                $('.sidebarResult').addClass('position-fixed'); 
                $('.contentbarResult').addClass('position-relative'); 
                $('.contentbarResult').addClass('col-10'); 
                $($('.contentbarResult').find('div')[0]).addClass('position-relative'); 
                $('.contentbarResult').attr('style', 'right : 150px !important;');
            }*/
        }
        else{
            $('.sidebarResult').removeAttr('style')
            // only for method 2
            /* $('.contentbarResult').removeAttr('style')
            $('.sidebarResult').removeClass('position-fixed'); */
        }
    }).trigger('scroll');
});

</script>
{% endblock %}