{% extends 'blog\base.html' %}

{% load static %}
{% load bootstrap %}
{% load blog_extras %}

{% block title %}بلاگ{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    {% if adv %}
        <div class="d-flex mt-2">
            <div class="ms-5 sidebarResult">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for key, value in posts.items %}
                        <a class="nav-link text-center" id="v-pills-{{ key }}-tab" data-toggle="pill" href="#v-pills-{{ key }}" role="tab" aria-controls="v-pills-{{ key }}" aria-selected="false">
                            {{ key|localTranslate }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="w-100  mt-2">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for key, value in posts.items %}
                        <div class="tab-pane fade" id="v-pills-{{ key }}" role="tabpanel" aria-labelledby="v-pills-{{ key }}-tab">
                            {% if not value %}
                                <p>نتیجه ای یافت نشد.</p>
                            {% else %}
                                {% for post in value %}
                                    {{ post }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% else %}
        {% for post in posts %}
            {{ post }}
        {% endfor %}
    {% endif %}
    
    
    
{% endblock %}
{% block script %}
<script>
$($('#v-pills-tabContent').children()[0]).addClass('show active')
$($('#v-pills-tab').children()[0]).addClass('active')

$('#v-pills-tab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$(document).ready(function() {
    $(document).on('scroll', function() {
        if( $(document).scrollTop() > 103 ){
            console.log(777)
            $('.sidebarResult').attr('style', `margin-top: ${ $(document).scrollTop()-103}px !important`);
        }
        else{
            $('.sidebarResult').removeAttr('style')
        }
    }).trigger('scroll');
  });

</script>
{% endblock %}