{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}


{% block title %}پست جدید{% endblock %}

{% block header %}
    {{ postForm.media }}
{% endblock %}

{% block body %}
    <form id="newPostForm" method="POST" class='w-100 m-auto' enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in postForm %}
            <div class="control-group {% if field.errors %}text-danger{% endif %}">
                {{ field|bootstrap }}
            </div>
        {% endfor %}
        <label for="tag">برچسب ها(برای حذف هر برچسب کافی است روی ان کلیک کنید) </label><br>
        <input id="tag" type="search"/>
        <div id="allTags" z-index="1000" class="mt-1" style="overflow-y: scroll; max-height:135px"></div>
        <div name="selectedTags" id="selectedTags" class="mt-1"></div>
        <div class="mb-1 mt-2">
            <p>در صورتی که می خواهید پست شما در ساعت خاصی ارسال شواد، تاریخ و ساعت آن را در کادر پایین معین کنید</p>
            <input type="date" id="dateScheduledMessage" name="scheduledMessage">
            <input type="time" id="timeScheduledMessage" name="scheduledMessage">
        </div>
        <input type="submit" value="ارسال" class="btn btn-primary mt-2"/>
    </form>
    <br>
{% endblock %}

{% block script %}
    <script src="{% static 'blog/tinymce.min.js' %}"></script>
    <script src="{% static 'blog/newpost.js' %}"></script>
{% endblock %}
