{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="ثبت نام">
    </form>
    <script src="{% static 'blog/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'blog/lib/js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'blog/register.js' %}"></script>
</body>
</html>