{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}
{% load blog_extras %}


{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'blog/lib/css/bootstrap.min.css' %}">  
    <link rel="stylesheet" href="{% static 'blog/newpost.css' %}">
    {{ post.media }}
{% endblock %}

{% block body %}

    {% comment %} <p>{{ post.user.username }}</p> {% endcomment %}
    <table>
        <tr>
            <td><h3>{{ post.title }}<h3></td>
        </tr>
        {% if post.image %}
            <tr>
                <td>
                    <img src="{{ post.image.url }}" width=500 height=500 >
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ post.text|safe }}</td>
        </tr>
    </table>
    <input id="like" class="btn" type='button' value='{{ likes }}'>
    <input id="dislike" class="btn" type='button' value='{{ dislikes }}'>
    {% if can_accept %}
        {% if post.accept_by_admin %}
            <input id='accept_post' class="btn" type='button' value='عدم تایید'>
        {% else %}
            <input id='accept_post' class="btn" type='button' value='تایید'>
        {% endif %}
    {% endif %}
    {% if owner %}        
        <a href="{% url 'editpost' post.user.username post.pk%}"><button class="btn btn-outline-primary shadow-none" >ویرایش</button></a>
    {% endif %}
    {% if can_accept %}
        <table>
            {% for comment in allcomments %}
            <tr id="comment_{{ comment.pk }}">
                <td>{{ comment.user }}</td>
                <td>{{ comment.text }}</td>
                <td><input class="like_comment" type='button' value='{{ comment|likes }}'></td>
                <td><input class="dislike_comment" type='button' value='{{ comment|dislikes }}'></td>
                {% if comment.accept_by_admin %}
                    <td><input class='accept_comment btn' type='button' value='عدم تایید'></td>
                {% else %}
                    <td><input class='accept_comment btn' type='button' value='تایید'></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <table>
            {% for comment in comments %}
            <tr id="comment_{{ comment.pk }}">
                <td>{{ comment.user }}</td>
                <td>{{ comment.text }}</td>
                <td><input class="like_comment btn" type='button' value='{{ comment|likes }}'></td>
                <td><input class="dislike_comment btn" type='button' value='{{ comment|dislikes }}'></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% csrf_token %}

{% endblock %}


{% block script %}
    <script src="{% static 'blog/lib/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'blog/lib/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'blog/tinymce.min.js' %}"></script>-->
    <script src="{% static 'blog/showpost.js' %}"></script>
{% endblock %}