{% load static %}
{% load bootstrap %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/lib/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'blog/showpost.css' %}">
    {{ post.media }}
    <title>{{ post.title }}</title>
</head>

<body class="container mt-4" style="background-color: #f5f5f5 !important; font-family: 'Vazir', sans-serif;">
    <div class="header d-flex flex-row navbar navbar-light">
        <h3 id="blog" class="col-2 align-self-start"><a href="{% url 'index' %}" style="text-decoration: none;">بلاگ</a></h3>
        <div id="searchFormParent" class="d-flex col-10">
            <form id="searchForm" action="{% url 'index' %}" class="d-none d-sm-flex ms-4 mt-2 col-sm-8 col-md-9 col-xl-10" method="GET">
                <div class="d-flex flex-column col-10 col-sm-12">
                    <div class="form-group">
                        <div class="input-group-sm">
                            <input type="text" name="{{ form.search.name }}" maxlength="{{ form.search.field.max_length }}" required id="{{ form.search.id }}" placeholder="جستجو" style="width:100%;" class="form-control input-sm">
                        </div>
                        <div>
                            {% if form.search.errors %}
                                {{ form.search.errors }}
                            {% endif %}
                        </div>
                    </div>
                    {% comment %} <div class="progress" style="height: 1px;">
                        <div class="progress-bar" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> {% endcomment %}
                    <div id="toggleAdvSearch" title="جستجوی پیشرفته">
                        <i class="show fas fa-angle-down me-1"></i>
                        <i class="hide fas fa-angle-up me-1 d-none"></i>
                    </div>
                    <div class="advSearch" style="z-index:1000;">
                        <div class="d-lg-flex">
                            <label class="col-lg-3">زمان ارسال پست</label>
                            <div class="d-sm-flex col-sm-12 col-lg-9 justify-content-between">
                                <div class="form-group col-sm-6 ps-sm-1">
                                    {{ form.post_time_sent_from.label_tag }}
                                    <div class="time input-group-sm">
                                        <input type="datetime-local" name="{{ form.post_time_sent_from.name }}" id="{{ form.post_time_sent_from.id_for_label }}" class="form-control input-sm">
                                    </div>
                                    <div>
                                        {% if form.post_time_sent_from.errors %}
                                            {{ form.post_time_sent_from.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 pe-sm-1">
                                    {{ form.post_time_sent_to.label_tag }}
                                    <div class="time input-group-sm">
                                        <input type="datetime-local" name="{{ form.post_time_sent_to.name }}" id="{{ form.post_time_sent_to.id_for_label }}" class="form-control input-sm">
                                    </div>
                                    <div>
                                        {% if form.post_time_sent_to.errors %}
                                            {{ form.post_time_sent_to.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-flex justify-content-between">
                            <label class="col-md-3">جستجو در</label>
                            <div class="d-sm-flex flex-wrap flex-lg-nowrap col-sm-12 col-md-9 justify-content-between">
                                <div class="form-group col-sm-6 col-md-5 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.title.label_tag }}
                                        <input type="checkbox" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.title.errors %}
                                            {{ form.title.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.tag.label_tag }}
                                        <input type="checkbox" name="{{ form.tag.name }}" id="{{ form.tag.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.tag.errors %}
                                            {{ form.tag.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-5 col-lg-2">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.text.label_tag }}
                                        <input type="checkbox" name="{{ form.text.name }}" id="{{ form.text.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.text.errors %}
                                            {{ form.text.errors }}
                                        {% endif %}
                                    </div>
                                </div> 
                                <div class="form-group col-sm-6 col-lg-3">
                                    <div class="checkbox form-check form-switch">
                                        {{ form.writer.label_tag }}
                                        <input type="checkbox" name="{{ form.writer.name }}" id="{{ form.writer.id_for_label }}" class="form-check-input">
                                    </div>
                                    <div>
                                        {% if form.writer.errors %}
                                            {{ form.writer.errors }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
                </div>
                <button type="submit" class="btn align-self-start shadow-none" style="margin-top:-3px; margin-right:-4px;">
                    <i class="fas fa-search"></i>
                </button>
                <button id="closeSearch" type="button" class="btn align-self-start d-flex d-sm-none pt-2 shadow-none">
                    <i class="fas fa-times"></i>
                </button>
                {% comment %} <input type="submit" class="btn btn-primary align-self-start" value="جستجو"> {% endcomment %}
            </form>
            <span id="searchBtn" class="btn col-12 col-sm-4 col-md-3 col-xl-2 d-flex justify-content-end d-sm-block">
                <button id="openSearch" type="submit" class="btn shadow-none align-self-start d-sm-none">
                    <i class="fas fa-search"></i>
                </button>
                {% if not user.is_authenticated %}
                    <a class="btn btn-sm shadow-none border-1 border-primary" href="{% url 'login' %}">ورود</a>
                    <a class="btn btn-sm btn-primary shadow-none" href="{% url 'register' %}">ثبت نام</a>                
                {% else %}
                    <div class="dropdown px-2">
                        <a class="dropdown-toggle" role="button" dir="ltr" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
                            {% if post.user.image  %}
                                <img src="/media/{{ post.user.image }}" width=40 height=40 
                                style="border-radius: 20px;">
                            {% else %}
                                <img src="/media/user_imgs/DefaultUserImage.png" width=40 height=40
                                style="border-radius: 20px;">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="text-align:right;">
                            <li><a class="dropdown-item" href="{% url 'main_profile' user.username %}">پروفایل</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">تغییر گذرواژه</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">خروج</a></li>
                        </ul>
                    </div>

                {% endif %}
            </span>
        </div> 
    </div>

    <div class="mx-md-5 px-md-4 py-3" style="background-color: white">
        <br>
        <div class="d-flex">
            <div>
                <a href="{% url 'main_profile' post.user.username %}" style=" color: #363636;">
                    {% if post.user.image  %}
                    <img src="/media/{{ post.user.image }}" width=80 height=80 
                    style="border-radius: 40px; position: relative; top: 50%; transform: translateY(-50%);">
                    {% else %}
                    <img src="/media/user_imgs/DefaultUserImage.png" width=80 height=80
                    style="border-radius: 40px; position: relative; top: 50%; transform: translateY(-50%);">
                    {% endif %}
                </a>
            </div>
            <div class="me-3">
                <div class="mb-2 mt-2 pt-1">
                    <a href="{% url 'main_profile' post.user.username %}" style=" color: #363636; text-decoration: none;">
                        {{ post.user.username }}
                    </a>
                </div>
                <div class="mb-2" style="color: #858585; ">
                    {{ post.post_send_time|timesince|persian_int }} پیش
                </div>
            </div>
        </div>

        <br>
        <h1>{{ post.title }}</h1>

        <br>
        <div>
            {% if post.image  %}
                <a href="{% url 'showpost' post.user.username post.pk %}">
                    <img src="/media/{{ post.image }}" width=100% height=100%>
                </a>
            {% endif %}
        </div>
        
        <br><br>
        <div style="font-size: 1.1rem;">
            {{ post.text|safe }}
        </div>

        {% for tag in tags %}
            <a href="{% url 'showtag' tag %}">
                <div class="oneTag" style="display:inline-block; position:relative;">
                    <input class="pb-1 pt-2" name='tag' style='text-align: center; color: black; 
                    background-color:#a5a5a5; margin:2px 3px; display:inline; border:none;' value='{{tag.name}}' disabled>
                    <div style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
                </div>
            </a>
        {% endfor %}
        
        <br><br>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex">
                    <button class="btn shadow-none">
                        <i class="far fa-comment fa-lg" style="color: black;"></i>
                    </button>
                    <p class="d-none">{{ post|post_comments }}</p>
                    <p class="mt-2">{{ post|post_comments|persian_int }}</p>
                </div>

                <div class="d-flex pb-1">
                    {% if can_accept %}
                        {% if post.accept_by_admin %}
                            <input id='accept_post' class="btn shadow-none bg-primary me-2 px-1" type='button' value='حذف تایید پست'>
                        {% else %}
                            <input id='accept_post' class="btn shadow-none bg-primary me-2 px-1" type='button' value='تایید پست'>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
            <div class="d-flex">
                <div class="d-flex">
                    {% if owner %}        
                        <button class="btn shadow-none mx-0 px-0 px-sm-2">
                            <a href="{% url 'editpost' post.user.username post.pk%}" style="color: black;">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </button>
                    {% endif %}        
                </div>

                <div class="d-flex">
                    <button id="like" class="btn shadow-none">
                        <i class="far fa-thumbs-up fa-lg" style="color: green;"></i>
                    </button>
                    <p class="d-none">{{ post|post_likes }}</p>

                    {% if user.is_authenticated %}
                        {% is_liked_post_by_user post user 'like' as is_liked_post %}
                    {% else %}
                        {% is_liked_post_by_user post none 'like' as is_liked_post %}
                    {% endif %}

                    {% if is_liked_post %}
                        <p class="mt-2" style="font-weight: 900;">{{ post|post_likes|persian_int }}</p>
                    {% else %}
                        <p class="mt-2">{{ post|post_likes|persian_int }}</p>
                    {% endif %}
                    
                </div>

                <div class="d-flex">
                    <button id="dislike" class="btn shadow-none">
                        <i class="far fa-thumbs-down fa-lg" style="color: red;"></i>
                    </button>
                    <p class="d-none">{{ post|post_dislikes }}</p>
                    
                    {% if user.is_authenticated %}
                        {% is_liked_post_by_user post user 'dislike' as is_disliked_post %}
                    {% else %}
                        {% is_liked_post_by_user post none 'dislike' as is_disliked_post %}
                    {% endif %}

                    {% if is_disliked_post %}
                        <p class="mt-2" style="font-weight: 900">{{ post|post_dislikes|persian_int }}</p>
                    {% else %}
                        <p class="mt-2">{{ post|post_dislikes|persian_int }}</p>
                    {% endif %}
                </div>
            </div>   
        </div>

    </div>

    <br><br>
    <div class="mx-md-5 px-md-4">
        <p>نظرات</p>

        {% for comment in allcomments %}

            {% if comment.accept_by_admin %}
                {% include "blog/commenttag.html" with comment=comment %}
            {% endif %}

            {% if not comment.accept_by_admin and can_accept %}
                {% include "blog/commenttag.html" with comment=comment %}
            {% endif %}

        {% endfor %}
            
        {% csrf_token %}
        <br>

    </div>

    <script src="{% static 'blog/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'blog/lib/js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'blog/base.js' %}"></script>
    <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script>
    <script src="{% static 'blog/showpost.js' %}"></script>

</body>

</html>
