{% load static %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'accounts/lib/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <title>ورود</title>
</head>
<body>
	
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div id="loginCard" class="col-md-7 col-lg-5">
					<div class="p-4 p-md-5">
						<div id="headerIcon" class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-user-o"></i>
						</div>
						<div id="headerTitle" class="icon d-flex align-items-center justify-content-center">
							<h2>ورود</h2>
						</div>
						<div id="contentNextPageMessage">
							{% if next %}
								{% if user.is_authenticated %}
									<p>شما دسترسی لازم برای مشاهده این صفحه را ندارید. لطفا با حساب دیگری وارد شوید.</p>
								{% else %}
									<p>لطفا با حساب کاربری خود وارد شوید.</p>
								{% endif %}
							{% endif %}
						</div>
						<form id="contentForm" method="POST">
							{% csrf_token %}
							<div class="my-2">
								<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" 
										class="form-control rounded-left" placeholder="نام کاربری" required>
								<div>
									{% if form.username.errors %}
										{% for error in form.username.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-2">
								<input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" 
										class="form-control rounded-left" placeholder="گذرواژه" required>
								<div>
									{% if form.password.errors %}
										{% for error in form.password.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-3">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">ورود</button>
							</div>
							<input type="hidden" name="next" value="{{ next }}">
						</form>
						<div id="footerNonFieldErrors">
							{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}	
									<p class="my-0">{{ error|persian_int }}</p>
								{% endfor %}
							{% endif %}
						</div>
						<div id="footerLinks" class="d-flex justify-content-between">
							<p class="w-50 text-md-right">
								<a href="{% url 'password_reset' %}">فراموشی گذرواژه</a>
							</p>
							<p class="text-md-right">
								<a href="{% url 'index' %}">صفحه اصلی</a>
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="{% static 'accounts/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'accounts/lib/js/bootstrap.min.js' %}"></script>
    <script src="{% static '3ddc925580.js' %}"></script>
    {% comment %} <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script> {% endcomment %}

</body>
</html>