{% extends 'blog/base.html' %}

{% load static %}
{% load bootstrap %}


{% block title %}تغییر گذرواژه{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <br>
    <p>ما ایمیلی برای تغییر گذرواژه تان فرستاده ایم. اگر حسابی با این ایمیل موجود باشد، آن را
    در زمان کوتاهی دریافت می کنید.</p>
    <p>اگر ایمیلی دریافت نکرده اید، مطمئن شوید که ایمیلی را وارد کرده اید که با آن ثبت نام کرده اید.
    همچنین پوشه اسپم های خود را نیز چک کنید.</p>
{% endblock %}


{% block script %}
{% endblock %}
