{% load bootstrap %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر رمزعبور</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}
                    لطفا خطای زیر را تصحیح کنید.
                {% else %}
                    لطفا خطاهای زیر را تصحیح کنید.
                {% endif %}
            </p>
        {% endif %}
        <p>ابتدا رمزعبور قبلی خود را وارد کنید، سپس رمزعبور جدید خود را دوبار وارد کنید تا از صحت آن مطمئن باشید.</p>
        <table>
            <tr>
                <td>{{ form.old_password.label_tag }}</td>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% if form.old_password.errors %}
                        {{ form.old_password.errors }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>{{ form.new_password1.label_tag }}</td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% if form.new_password1.errors %}
                        {{ form.new_password1.errors }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                {% if form.new_password1.help_text %}
                    <div class="help">
                        <td></td>   
                        <td>
                            {{ form.new_password1.help_text|safe }}
                        </td>
                    </div>
                {% endif %}
                <!-- {% comment %} <td></td>
                <td>
                    <ul>
                        <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                        <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                        <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li>
                        <li>گذرواژه شما نمی تواند کلا عدد باشد.</li>
                    </ul>
                </td> {% endcomment %} -->
            </tr>
            <tr>
                <td>{{ form.new_password2.label_tag }}</td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% if form.new_password2.errors %}
                        {{ form.new_password2.errors }}
                    {% endif %}
                </td>
            </tr>
            
            <tr>
                <td><input type="submit" value="تغییر رمزعبور"></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.non_field_errors }}</td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>

</html>
