{% load bootstrap %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر رمزعبور</title>
</head>

<body>
    <p>ما ایمیلی برای تغییر رمزعبورتان فرستاده ایم. اگر حسابی با این ایمیل موجود باشد، آن را
    در زمان کوتاهی دریافت می کنید.</p>
    <p>اگر ایمیلی دریافت نکرده اید، مطمئن شوید که ایمیلی را وارد کرده اید که با آن ثبت نام کرده اید.
    همچنین پوشه اسپم های خود را نیز چک کنید.</p>
</body>

</html>