{% load static %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/lib/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/password_reset_form.css' %}">
    {% comment %} <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" /> {% endcomment %}
    <title>ایجاد گذرواژه جدید</title>
</head>

<body>

	<!-- در صورت فراموشی گذرواژه، با وارد کردن ایمیل در این فرم، می توان گذرواژه جدیدی ایجاد کرد. -->
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div id="passwordResetCard" class="col-md-7 col-lg-5">
					<div class="p-4 p-md-5">
						<div id="headerIcon" class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-user-o"></i>
						</div>
						<div id="headerTitle" class="icon d-flex align-items-center justify-content-center">
							<h2>ایجاد گذرواژه جدید</h2>
						</div>
                        <p id="contentFormHelpTextMessage">ایمیل خود را وارد کنید. یک ایمیل برای شما ارسال خواهد شد تا بتوانید گذرواژه خود را عوض کنید.</p>
						<form id="contentForm" method="POST">
							{% csrf_token %}
							<div class="my-2">
								<input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" 
										class="form-control rounded-left" placeholder="نام کاربری" required>
								<div>
									{% if form.email.errors %}
										{% for error in form.email.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-3">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">تغییر گذرواژه</button>
							</div>
							<input type="hidden" name="next" value="{{ next }}">
						</form>
						<div id="FooterNonFieldErrors">
							{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}	
									<p class="my-0">{{ error|persian_int }}</p>
								{% endfor %}
							{% endif %}
						</div>
						<div id="footerLinks" class="d-flex justify-content-between">
							<p class="text-md-right">
								<a href="{% url 'login' %}">ورود</a>
							</p>
							<p class="text-md-right">
								<a href="{% url 'index' %}">صفحه اصلی</a>
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="{% static 'accounts/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'accounts/lib/js/bootstrap.min.js' %}"></script>
    <script src="{% static '3ddc925580.js' %}"></script>
    {% comment %} <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script> {% endcomment %}

</body>

</html>