{% load static %}
{% load blog_extras %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/lib/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/password_change_form.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v28.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <title>تغییر گذرواژه</title>
</head>

<body>
	<!-- پس از لاگین کردن به وب سایت، از اینجا می توان گذرواژه جدیدی تنظیم کرد. برای تنظیم گذرواژه در این حالت، نیاز به
	دانستن گذرواژه فعلی است. -->
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div id="passwordChangeCard" class="col-md-8 col-lg-7 col-xl-6">
					<div class="p-4 p-md-5">
						<div id="headerIcon" class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-user-o"></i>
						</div>
						<div id="headerTitle" class="icon d-flex align-items-center justify-content-center">
							<h2>تغییر گذرواژه</h2>
						</div>
                        <p id="contentFormHelpTextMessage">ابتدا گذرواژه قبلی خود را وارد کنید، سپس گذرواژه جدید خود را دوبار وارد کنید تا از صحت آن مطمئن باشید.</p>
						<form id="contentForm" method="POST">
							{% csrf_token %}
							<div class="my-2">
								<input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}"
										class="form-control rounded-left" placeholder="گذرواژه قدیمی" required>
								<div>
									{% if form.old_password.errors %}
										{% for error in form.old_password.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-2">
								<input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}"
										class="form-control rounded-left" placeholder="گذرواژه جدید" required>
								<div>
									{% if form.new_password1.errors %}
										{% for error in form.new_password1.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
                                <div>
                                    {% if form.new_password1.help_text %}
                                        <div class="help">
                                            {{ form.new_password1.help_text|persian_int|safe }}
                                        </div>
                                    {% endif %}
                                </div>
							</div>
                            <div class="my-2">
								<input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}"
										class="form-control rounded-left" placeholder="تأیید گذرواژه جدید" required>
								<div>
									{% if form.new_password2.errors %}
										{% for error in form.new_password2.errors %}
											<p class="my-0">{{ error|persian_int }}</p>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="my-3">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">تغییر گذرواژه</button>
							</div>
							<input type="hidden" name="next" value="{{ next }}">
						</form>
						<div id="footerNonFieldErrors">
							{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}	
									<p class="my-0">{{ error|persian_int }}</p>
								{% endfor %}
							{% endif %}
						</div>
						<div id="footerLinks" class="d-flex justify-content-between">
							<p class="text-md-right">
								<a href="{% url 'settings' %}">ویرایش اطلاعات کاربری</a>
							</p>
							<p class="text-md-right">
								<a href="{% url 'index' %}">صفحه اصلی</a>
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<script src="{% static 'accounts/lib/js/jquery-3.4.1.min.js' %}"></script>  
    <script src="{% static 'accounts/lib/js/bootstrap.min.js' %}"></script>  
    <script src="https://kit.fontawesome.com/3ddc925580.js" crossorigin="anonymous"></script>
        
</body>

</html>
