{% load bootstrap %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
</head>

<body>
    <h3>ایجاد رمزعبور جدید</h3>
    <p>ایمیل خود را وارد کنید. یک ایمیل برای شما ارسال خواهد شد تا بتوانید رمزعبور خود را عوض کنید.</p>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="تغییر رمزعبور"></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.non_field_errors }}</td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>

</html>