body{
	background-color: #f8f9fd;
	font-family: 'Vazir', sans-serif;
}

section{
	padding: 5em 0;
}

#loginCard{
	background-color:white;
	border-radius: 10px;
	box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
}

#headerIcon{
	width: 80px;height:
	80px;background: #1089ff;
	border-radius: 50%;
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#headerIcon i{
	color: white;
}

#headerTitle h2{
	font-size: 28px;
	color: black;
	margin-bottom: 1em;
}

a{
	text-decoration: none;
}
